{% extends "layouts/base.html" %}
{% load static%}

{% block content%}
    
    <div class="my-4 container c-article-body p-0">
        <div class="">
            <h1 class="display-4">{{ article.title }}</h1>
            <p class="lead">{{ article.description }}</p>
            <p class="text-muted"> {{ article.updated_on|date:"M j, Y" }}</p>
            <div class="my-5">
                {{ article.content|safe }}
            </div>
           
        </div>
    </div>

{% endblock content%}
