{% extends "layouts/base.html" %}
{% load static%}

{% block content%}
    <div>
        <h1 class="display-4 font-weight-bold">Almaz Kunpeissov</h1>
        <h2 class="display-4">Software Engineer</h2>
        <p class="lead">Enjoy creating a vast, complex system. Enjoy maintaining it. Improving it. Gradually rid it of its imperfection.</p>
        <div class="d-flex flex-wrap">
            <a class="display-4 nav-link pl-0" href="https://github.com/almazkun" target="_blank" title="My Github repositories"><i class="fab fa-github"></i></a>
            <a class="display-4 nav-link" href="https://www.linkedin.com/in/almaz-kunpeissov-7775b541/" target="_blank" title="My LinkedIn page"><i class="fab fa-linkedin-in"></i></a>
            <a class="display-4 nav-link" href="{% static "files/A_Kunpeissov_Software_Engineer_Python_CV_ENG_2020_web.docx"%}" target="_blank"><span class="font-weight-bold" title="My Resume(CV) in MS Word .docx format">CV</span></a>
            <a class="display-4 nav-link" href="mailto:hello@akun.dev" title="Completely novel way to contact a person on the Internet: write an email!"><i class="fas fa-at"></i></a>
        </div>

        <h2 class="display-4 my-5 pt-5">Tech stack</h2>
        <div class="my-4">    
            <h3>Programming languages</h3>
            <p class="lead">Python</p>
            <p class="lead">HTML / CSS</p>
            <p class="lead">JavaScript</p>
        </div>
        <div class="my-4">
            <h3>Frameworks</h3>
            <p class="lead">Django</p>
            <p class="lead">Bootstrap 4</p>
        </div>
        <div class="my-4">
            <h3>Database & Server-side</h3>
            <p class="lead">PostgreSQL</p>
            <p class="lead">Docker</p>
            <p class="lead">Linux</p>
            <p class="lead">Nginx</p>
            <p class="lead">Gunicorn</p>
        </div>
        <div class="my-4">
            <h3>Cloud & Services</h3>
            <p class="lead">AWS</p>
            <p class="lead">Heroku</p>
            <p class="lead">DigitalOcean</p>
            <p class="lead">Google Cloud Platform</p>
            <p class="lead">Cloudflare</p>
            <p class="lead">Google Ads & Analytics</p>
        </div>
        <div class="my-4">
            <h3>Collaboration & Development</h3>
            <p class="lead">Git & Github</p>
            <p class="lead">Agile / Scrum</p>
            <p class="lead">Trello</p>
            <p class="lead">Basecamp</p>
        </div>

        <h2 class="display-4 my-5 pt-5">Work-Project balance</h2>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://shipper.kz/" target="_blank"><h3>Shipper.kz</h3></a>
                <div class="font-weight-bold">
                    <h3>2019 - {% now "Y" %}</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Software Engineer, Python</p>
            <p>Development of a web application<br>
                •	Participate in the entire application lifecycle
                •	Work with Front-end developers to build application
                •	Gather and address technical and design requirements
                •	API integration with Amazon and eBay marketplaces
                •	Designing API endpoints and microservices
                •	Deploying on and integration with main Cloud computing providers
            </p>
        </div>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://goldenroof.org/" target="_blank"><h3>Goldenroof.org</h3></a>
                <div class="font-weight-bold">
                    <h3>2019</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer, Django</p>
            <p>Solo developer and maintainer of a corporate website<br>
                •	Mobile first, fully responsive
                •	Python/Django
                •	HTML5/CSS3
                •	Bootstrap 4
                •	Cloudflare DNS
                •	Heroku/PostgreSQL
                •	Gunicorn/WhiteNoise
                •	Corporate e-mail address server
                •	SSL/TLS Certificates/Let's Encrypt
                •	Google Analytics, Google Ads
            </p>
        </div>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://kgtkv2.herokuapp.com/" target="_blank"><h3>Kolgotka.kz</h3></a>
                <div class="font-weight-bold">
                    <h3>2019</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer, Django</p>
            <p>Solo developer and maintainer of an eCommerce website<br>
                • Mobile first, fully responsive
                • Python/Django
                • HTML5/CSS3
                • Bootstrap 4
                • Cloudflare DNS
                • Heroku/PostgreSQL
                • Gunicorn/WhiteNoise
                • Corporate e-mail address server
                • SSL/TLS Certificates/Let's Encrypt
                • Google Analytics, Google Ads
            </p>
        </div>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://finlaw.kz/" target="_blank"><h3>Finlaw.kz</h3></a>
                <div class="font-weight-bold">
                    <h3>2017 - 2019</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer</p>
            <p>Solo developer and maintainer of a corporate website<br>
                •	Mobile first, fully responsive
                •	HTML5/CSS3
                •	Bootstrap 4
                •	Cloudflare DNS
                •	DigitalOcean/CentOS
                •	Nginx/Apache
                •	Corporate e-mail address server
                •	SSL/TLS Certificates/Let's Encrypt
                •	SEO optimization, UI/UX analysis
                •	Google Analytics, Google Ads
            </p>
        </div>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://law-protection.kz/" target="_blank"><h3>Law-protection.kz</h3></a>
                <div class="font-weight-bold">
                    <h3>2018</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer</p>
            <p>Solo developer and maintainer of a corporate website<br>
                •	Mobile first, fully responsive
                •	HTML5/CSS3
                •	Bootstrap 4
                •	Cloudflare DNS
                •	DigitalOcean/CentOS
                •	Nginx/Apache
                •	Corporate e-mail address server
                •	SSL/TLS Certificates/Let's Encrypt
                •	SEO optimization, UI/UX analysis
                •	Google Analytics, Google Ads
            </p>
        </div>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://groof.kz" target="_blank"><h3>Groof.kz</h3></a>
                <div class="font-weight-bold">
                    <h3>2017</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer</p>
            <p>Solo developer and maintainer of a corporate website<br>
                •	Mobile first, fully responsive
                •	HTML5/CSS3
                •	Bootstrap 4
                •	Cloudflare DNS
                •	DigitalOcean/CentOS
                •	Nginx/Apache/Vesta CP
                •	Corporate e-mail address server
                •	SSL/TLS Certificates/Let's Encrypt
                •	SEO optimization, UI/UX analysis
                •	Google Analytics, Google Ads
            </p>
        </div>

        <div class="py-5">
            <div class="d-flex justify-content-between">
                <a href="https://energyproject.kz/" target="_blank"><h3>Energyproject.kz</h3></a>
                <div class="font-weight-bold">
                    <h3>2016</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer</p>
            <p>Solo developer and maintainer of a corporate website<br>
                •	Mobile first, fully responsive
                •	HTML5/CSS3
                •	Bootstrap 4
                •	Cloudflare DNS
                •	DigitalOcean/CentOS
                •	Nginx/Apache/Vesta CP
                •	Corporate e-mail address server
                •	SSL/TLS Certificates/Let's Encrypt
                •	SEO optimization, UI/UX analysis
                •	Google Analytics, Google Ads
            </p>
        </div>
    </div>
{% endblock content%}
