img {
    max-width: 100%;
}

a {
    color: inherit;
}

a:hover {
    color: #007bff;
}


.logo {
    width: 2rem;
    height: 2rem;
    background-image: url("/static/images/fav/android-chrome-512x512.png");
    background-color: #010101;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}


#main {
    min-height: 80vh;
}

footer {
    min-height: 20vh;
}