{% load static%}
<footer id="footer" class="my-5">
    <a class="display-4 nav-link px-0" href="https://github.com/almazkun"                             target="_blank" title="My Github repositories">                 <i class="fab fa-github"></i> Github</a>
    <a class="display-4 nav-link px-0" href="https://www.linkedin.com/in/almaz-kunpeissov-7775b541/"  target="_blank" title="My LinkedIn page">                       <i class="fab fa-linkedin-in"></i> LinkedIn</a>
    <a class="display-4 nav-link px-0" href="{% static 'files/A_Kunpeissov_Software_Engineer_Python_CV_ENG_2020_web.docx' %}"                                                     target="_blank" title="My Resume(CV)"><span class="font-weight-bold" >CV</span> Resume(CV)</a>
    <a class="display-4 nav-link px-0" href="mailto:hello@akun.dev"                                                   title="Completely novel way to contact a person on the Internet: write an email!"><i class="fas fa-at"></i> Email address</a>
    <a class="display-4 nav-link px-0 pb-4" href="#"><i class="fas fa-angle-up"></i></a>
    <p class="nav-link px-0 lead">Copyright &copy; {% now "Y" %}, <a class="" href="https://akun.dev">akun.dev</a></p>
</footer>
{% block footer%}{% endblock footer %}