<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" /> 
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{% block title %}Almaz Kunpeissov - Software Engineer, Python Programming Language, Portfolio.{% endblock title %}</title>
    <meta name="description" content="{% block description %}Portfolio of Almaz Kunpeissov, Python Software Engineer. Python/Django, PostgreSQL, Docker, Redis, Nginx, Gunicorn.{% endblock description %}"/>
    <meta name="keywords" content="{% block keywords %}Python/Django, PostgreSQL, Docker, Redis, Nginx, Gunicorn.{% endblock keywords %}"/>


    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>