<div class="row">
    {% for product in products %}
        <div class="col-6 p-2">
            <div class="text-center rounded shadow-hover p-2 border border-dark">
                <a href="{{ product.get_absolute_url }}">
                    <div class="embed-responsive embed-responsive-1by1">
                        <div class="embed-responsive-item display-4 d-flex justify-content-center   ">
                            <div class=" align-self-center "><u>{{product.abbr}}</u></div>
                        </div>
                    </div>
                    <div class="font-italic text-decoration-none">{{ product.price }}</div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>