{% load static %}
    <!-- Navigation For Desktop -->
    <div class="d-none d-lg-flex">
        <nav class="navbar navbar-light p-0">
            <a class="nav-item" href="#about" title="About">
                <div class="nav-link lead">About</div>
            </a>
            <a class="nav-item" href="#portfolio" title="Portfolio">
                <div class="nav-link lead">Portfolio</div>
            </a>
            <a class="nav-item" href="#cv" title="Resume (CV)">
                <div class="nav-link lead">Resume (CV)</div>
            </a>
            <a class="nav-item" href="#contacts" title="Contacts">
                <div class="nav-link lead">Contacts</div>
            </a>
        </nav>
    </div>

    <!-- For Mobile -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light py-1 px-3 d-lg-none">
        <a class="nav-link" href="{% url 'home' %}" title="Software Engineer, Python, portfolio">Home</a>
        
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#about" title="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio" title="Portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cv" title="Resume (CV)">Resume (CV)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts" title="Contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </nav>
{% block navigation %}{% endblock navigation %}