{% extends "_base.html" %}
{% block main_content %}
    <section id="main" class="main">
        <div class="container">
            <div class="my-4">
                <h1 class="display-4">{{ article.title }}</h1>
                <p class="lead">{{ article.description }}<p>
                <div class="d-flex mb-2 align-items-center">
                    <a href="{{ article.get_absolute_url }}"><img class="rounded-circle author_photo" src="{{article.author.photo}}"></a>
                    <div class="ml-2 text-muted small">
                        <div>{{article.author.first_name}} {{article.author.last_name}}</div>
                        <div>{% if article.created_on < article.updated_on %}
                                {{ article.updated_on|date:'M D, y' }}
                            {% else %}
                                {{ article.created_on|date:'Y-m-d' }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <img class="mb-2" src="{{ article.img_link }}">
                <div class="article_content pb-4">
                    {{article.content|safe}}
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}