{% extends "_base.html" %}
{% block title %}{{tag.tag_name}}{% endblock title %}
{% block main_content %}
    <section id="main" class="main">
        <div class="container">
            <div class="my-4">
                <h1 class="display-4">{{ tag.tag_name }}</h1>
                <div class="p-2 border rounded mb-3">
                    <div class="embed-responsive embed-responsive-21by9">
                        <img class="embed-responsive-item" src="{{tag.img_link}}" style="object-fit: contain; object-position: center;">
                    </div>
                </div>
                <p class="lead">{{ tag.description }}</p>
                <a href="{{tag.source_link}}" target="_blank"><div class="btn btn-outline-dark mb-3">Read more</div></a>
                <hr class="">
            </div>
            {% if articles %}
                <div class="my-4 py-4">
                    <h2 class="font-weight-bold">{{ tag.tag_name }} in Articles</h2>
                    {% for article in articles %}
                        {% include 'includes/list_article.html' %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if tools %}
                <div class="my-4 py-4">
                    <h2 class="font-weight-bold">{{ tag.tag_name }} in Tools</h2>
                    {% include 'includes/list_tool.html' %}

                </div>
            {% endif %}
            {% if products %}
                <div class="my-4 py-4">
                    <h2 class="font-weight-bold">{{ tag.tag_name }} in Shop</h2>
                    {% for product in products %}
                        {% include 'includes/list_product.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock main_content %}