{% extends "layouts/base.html" %}


{% block content%}
    <div class="container my-5">
        <h1 class="display-3 font-weight-bold">Almaz Kunpeissov</h1>
        <h2 class="display-3">Software Engineer</h2>
        <p class="lead">Enjoy creating a vast, complex system. Enjoy maintaining it. Improving it. Gradualy rid it of its imperfection.</p>
        <div class="d-flex mt-5">
            <a class="display-4 mr-3" href="https://github.com/almazkun" target="blank"><i class="fab fa-github"></i></a>
            <a class="display-4 mr-3" href="https://www.linkedin.com/in/almaz-kunpeissov-7775b541/" target="blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="display-4 mr-3" href="/cv" target="blank"><span class="font-weight-bold">CV</span></a>
            <a class="display-4 mr-3" href="mailto:hello@akun.dev"><i class="fas fa-at"></i></a>
        </div>
        <h2 class="display-3 mt-5">Tech stack</h2>
        <div>
            <p class="lead">Python</p>
            <p class="lead">HTML / CSS</p>
            <p class="lead">SQL</p>
        </div>
        <div>
    
        </div>
    </div>
    
{% endblock content%}
