{% extends "layouts/base.html" %}


{% block content%}
    <div class="container my-5">
        <h1 class="display-3 font-weight-bold">Almaz Kunpeissov</h1>
        <h2 class="display-3">Software Engineer</h2>
        <p class="lead">Enjoy creating a vast, complex system. Enjoy maintaining it. Improving it. Gradualy rid it of its imperfection.</p>
        <div class="d-flex mt-5">
            <a class="display-4 mr-3" href="https://github.com/almazkun" target="blank"><i class="fab fa-github"></i></a>
            <a class="display-4 mr-3" href="https://www.linkedin.com/in/almaz-kunpeissov-7775b541/" target="blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="display-4 mr-3" href="/cv" target="blank"><span class="font-weight-bold">CV</span></a>
            <a class="display-4 mr-3" href="mailto:hello@akun.dev"><i class="fas fa-at"></i></a>
        </div>

        <h2 class="display-3 my-5">Tech stack</h2>
        <div class="my-4">    
            <h3>Programming languages</h3>
            <p class="lead">Python</p>
            <p class="lead">HTML / CSS</p>
            <p class="lead">JavaScript</p>
        </div>
        <div class="my-4">
            <h3>Frameworks</h3>
            <p class="lead">Django</p>
            <p class="lead">Bootstrap 4</p>
        </div>
        <div class="my-4">
            <h3>Database & Server-side</h3>
            <p class="lead">PostgreSQL</p>
            <p class="lead">Docker</p>
            <p class="lead">Linux</p>
            <p class="lead">Nginx</p>
            <p class="lead">Gunicorn</p>
        </div>
        <div class="my-4">
            <h3>Cloud & Services</h3>
            <p class="lead">AWS</p>
            <p class="lead">Heroku</p>
            <p class="lead">DigitalOcean</p>
            <p class="lead">Google Cloud Platform</p>
            <p class="lead">Cloudflare</p>
            <p class="lead">Google Ads & Analytics</p>
        </div>
        <div class="my-4">
            <h3>Collaboration & Development</h3>
            <p class="lead">Git & Github</p>
            <p class="lead">Agile / Scrum</p>
            <p class="lead">Trello</p>
            <p class="lead">Basecamp</p>
        </div>

        <h2 class="display-3 my-5">Recent projects</h2>
        <div class="py-3 ">
            <div class="d-flex justify-content-between">
                <h3>Shipper.kz</h3>
                <div class="font-weight-bold">
                    <h3>2019</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Software Engineer</p>
            <p>•	Participate in the entire application lifecycle.
                •	Work with designers and Front-end developers to build applications.
                •	Gather and address technical and design requirements.
                •	API integration with Amazon and eBay marketplaces.
                •	Designing API endpoints and microservices.
                •	Deploying on and integration with main Cloud computing providers.
            </p>
        </div>

        <div class="my-5">
            <div class="d-flex justify-content-between">
                <h3>Finlaw.kz</h3>
                <div class="font-weight-bold">
                    <h3>2017 - 2019</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Web Developer</p>
            <p>•	Developing and maintaining a corporate website.
                •	SEO optimization, UI/UX analysis, Google Analytics, Google Ads.
            </p>
        </div>

        <div class="my-4">
            <div class="d-flex justify-content-between">
                <h3>Comeon.kz</h3>
                <div class="font-weight-bold">
                    <h3>2019</h3>
                </div>
            </div>
            <hr class="bg-light"> 
            <p class="lead">Software Developer</p>
            <p>•	Participate in the entire application lifecycle.
                •	Work with designers and Front-end developers to build applications.
                •	Gather and address technical and design requirements.
                •	API integration with Amazon and eBay marketplaces.
                •	Designing API endpoints and microservices.
                •	Deploying on and integration with main Cloud computing providers.
            </p>
        </div>
    </div>
    
{% endblock content%}
